* {
    font-family: Papyrus, fantasy;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html, body {
    background-color: #DCDCDC;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}
  
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 0px 100px;
    margin: 60px 0 0 0;
}

.logo {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
}

.menu {
    position: absolute;
    right: 5px;
    top: 35px;
    margin: 0;
    padding: 10px 15px;
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: black; 
    font-size: 20px;
    font-weight: 500; 
}

.menu a:hover {
    text-decoration: underline;
}

.basic-info {
    flex-direction: row;
    margin: 20px 30px;
    padding: 0;
    gap: 200px;
}
  
.basic-info ul {
    list-style: none;
}

.basic-info .profile-photo {
    border-radius: 20px;
}

.about-myself, .technologies {
    padding: 0;
    margin: 130px 300px 0 300px;
    align-items: start;
    line-height: 25px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.goals, .education, .eng {
    padding: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 10%;
    margin-bottom: 30px;
}

.goals ul, .education ul {
    list-style: inside;
}

.experience {
    padding: 0;
    margin: 0;
}

.stack, .technologies h4 {
    margin-bottom: 20px;
}

.code {
    padding: 5px;
    background-color: white;
    overflow-y: scroll;
    min-width: 200px;
    height: 400px;
}

code {
    font-family: Arial, Helvetica, sans-serif;
}

.video {
    padding: 0;
    margin: 100px 100px 0px 100px; 
}

.footer-menu {
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center; 
}

.footer-menu li {
    display: inline-block;
    margin-right: 10px;
}

.footer-menu a {
    text-decoration: none;
    color: black; 
    font-size: 30px;
    font-weight: 500; 
}

